<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Estilos enlazados-->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>

  <div class="logo">Re-Read</div>

<div class="header">
  <h1>Re-Read</h1>
  <p>En Re-Read podrás encontrar libros de segunda mano en perfecto estado. También vender los tuyos. Porque siempre hay libros leídos y libros por leer. Por eso Re-compramos y Re-vendemos para que nunca te quedes sin ninguno de los dos.</p>
</div>


<div class="row">
  <div class="column right">
    <h2>Top ventas</h2>
    <p>Cien años de soledad.</p>
    <p>Crónica de una muerte anunciada.</p>
    <p>El otoño del patriarca.</p>
    <p>El general en su laberinto.</p>
  </div>
  
  <div class="column left">

    <div class="topnav">
      <a href="../index.html">Re-Read</a>
      <a href="libros.html">Libros</a>
      <a href="ebooks.html">eBooks</a>
    </div>

    <h3>Toda la actualidad en eBook</h3>
      <div class="ebook">
      <img src="../img/1.jpg" alt="ebook 1">
      <div>Año 997, finales de la Edad Oscura. Inglaterra se enfrenta a los ataques de los galeses por el oeste y de los vikingos por el este...</div>
    </div>
     <div class="ebook">
      <img src="../img/2.jpg" alt="ebook 1">
      <div>Contra todo prónostico, Katniss ha ganado Los Juegos del Hambre. Es un milagro que ella y su compañero del Distrito 12, Peeta Mellark, sigan vivos...</div>
    </div>
     <div class="ebook">
       <img src="../img/3.jpg" alt="ebook 1">
       <div>Antonia Scott es especial. Muy especial. No es policía ni criminalista. Nunca ha empuñado un arma ni llevado una placa, y, sin embargo, ha resuelto decenas de crímenes...</div>
    </div>
     <div class="ebook">
      <img src="../img/4.jpg" alt="ebook 1">
      <div>Misery Chastain ha muerto. Paul Sheldon la ha matado. Con alivio y hasta con alegría. Misery lo ha hecho rico....</div>
    </div>
  
</div>
  
</body>
</html>
